<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.css" />

  <title>SmallApple</title>
</head>

<body>
  <!-- fin -->
  <div class="container">
    <div class="container-custom">

      <div class="sidebarContainer">
        <nav class="sidebar" id="sidebarMenu">
          <div class="sideBarHeader">
            <div class="text-logo">
              <div class="logoSideBar">
                <img src="/src/logoSmallApple.png" alt="">
              </div>
            </div>
            <div class="menu-bar">
              <div class="menu nav">
                <ul class="list-menu">
                  <li>
                    <a href="home.html"><i class="fa-solid fa-house"></i> Inicio</a>
                  </li>
                  <li>
                    <a href="creacion-usuarios.html"><i class="fa-solid fa-users"></i>Usuarios</a>
                  </li>
                  <li>
                    <a href="creacion-productos.html"><i class="fa-solid fa-box"></i>Productos</a>
                  </li>
                  <li>
                    <a href="#"><i class="fa-solid fa-cart-flatbed"></i>Pedidos</a>
                  </li>
                  <li>
                    <a href="#"><i class="fa-solid fa-computer"></i>Monitoreo de pedido</a>
                  </li>
                  <li>
                    <a href="#"><i class="fa-brands fa-watchman-monitoring"></i>Productos en existencia</a>
                  </li>
                  <li>
                    <a href="#"><i class="fa-solid fa-clock-rotate-left"></i>Historial</a>
                  </li>            
                </ul>
              </div>
            </div>
          </div>
        </nav>
      </div>

      <section class="section-form">
        <header>
          <div class="header-menu-container" id="menuConteiner">
            <div class="content-opcion">
              <i class="fa-regular fa-sun"></i>
              <div class="cerrar-section">Configuracion</div>
            </div>
            <div class="content-opcion" id="logout">
              <i class="fa-solid fa-right-to-bracket"></i>
              <div class="cerrar-section">Cerrar sesion</div>
            </div>
          </div>


          <div class="header-container-top">
            <div class="user-header" id="userHeader">
              <div class="user-info-content">
                <div id="nameUserHeader"></div>
                <div id="secondNameUserHeader"></div>
              </div>
              <img id="imgUserHeader" src="/src/user.jpg" alt="">
              <i id="icoImg" class="fa-solid fa-caret-down"></i>
            </div>
          </div>
        </header>
        <hr id="hr_reference" class="custom-hr">

        <section class="section-form">
            <div class="form-container">
                <hr class="custom-hr">
                <div class="header-container">
                    <div class="form-header">
                        <h1><i class="fa-solid fa-users"></i> &nbsp Mantenimiento de usuarios</h1>
                        <span>Este apartado es para la administracion de los usuarios</span>
                    </div>
                </div>
                <div class="section-content">
                    <div class="section-container" id="formContainer">
                        <form autocomplete="off" class="inputs-container">
        
                            <div class="left">
                                <div class="photo-container">
                                    <div class="img-user" id="imgContainer">
                                        <img src="/src/user.jpg" id="imgUser">
                                        <input accept="image/*" type="file" id="imgUserInput">
                                        
                                    </div>
                                </div>
                                <div class="form-inputs mt-10">
                                    <label for="txtNumero">Codigo de usuario</label>
                                    <input autocomplete="off" disabled type="text" value="Nuevo" class="" id="txtcodigo">
                                </div>
                                <!-- <div class="form-inputs ">
                                    <label for="slSucursales">Sucursales</label>
                                    <select autocomplete="off" class="requerid" tabindex="7" id="slSucursales">
                                        <option value=""></option>
                                    </select>
                                </div> -->
                                <div class="form-inputs">
                                    <label for="slTipoUsuario">Tipo de Usuario</label>
                                    <select autocomplete="off" class="requerid" tabindex="8" id="txttipousuario">
                                        <option value=""></option>
                                        <option value="">Admin</option>
                                        <option value="">Corriente</option>
                                    </select>
                                </div>
                                <div class="form-inputs">
                                    <label for="slStatus">Estatus</label>
                                    <select autocomplete="off" class="requerid" tabindex="9" id="txtestatus">
                                        <option value=""></option>
                                      
                                        <option value="">Activo</option>
                                        <option value="">Inactivo</option>
                                    </select>
                                </div>
                            </div>
                            <div class="center">
                                <div class="form-inputs">
                                    <label for="txtName">Nombre</label>
                                    <input autocomplete="off" type="text" tabindex="1" class="requerid" id="txtnombre">
                                </div>
                                <div class="form-inputs">
                                    <label for="txtCedula">Cedula</label>
                                    <input autocomplete="off" type="text" tabindex="3" class="requerid" id="txtCedula">
                                </div>
                                <div class="form-inputs">
                                    <label for="txtUser">Usuario</label>
                                    <input autocomplete="off" type="text" tabindex="5" class="requerid" id="txtusuario">
                                </div>
                                <div class="form-inputs eye-content">
                                    <label for="txtPassword">Contraseña</label>
                                    <i class="fa-regular fa-eye-slash"></i>
                                    <input autocomplete="off" type="password" tabindex="10" id="txtcontraseña">
                                </div>
                            </div>
        
                            <div class="right">
        
                                <div class="form-inputs">
                                    <label for="txtLastname">Apellido</label>
                                    <input autocomplete="off" type="text" tabindex="2" id="txtapellido">
                                </div>
                                <div class="form-inputs">
                                    <label for="txtaddress">Direccion</label>
                                    <input autocomplete="off" type="text" tabindex="4" id="txtdireccion">
                                </div>
                                <div class="form-inputs">
                                    <label for="txtEmail">E-mail</label>
                                    <input autocomplete="off" type="text" tabindex="6" id="txtemail">
                                </div>
                                <div class="form-inputs eye-content">
                                    <label for="txtConfirmPassword">Confirmar contraseña</label>
                                    <i class="fa-regular fa-eye-slash"></i>
                                    <input autocomplete="off" type="password" tabindex="11" id="txtconfircontraseña">
                                </div>
                            </div>
        
                        </form>
                    </div>

                    <!-- Seccion de los botones -->
                    <section class="button-section">
                      <div class="button-container">
                          <div class="button-grouper tooltip">
                              <span class="tooltip-box ">Limpiar</span>
                              <button id="btnlimpiar" title="Nuevo" class="hbtn-custom-primary" fdprocessedid="jxwzg">
                                  <i class="fa-solid fa-file fa-2x"></i>
                              </button>
                          </div>
                          <div class="button-grouper tooltip">
                              <span class="tooltip-box">Buscar los usuarios</span>
                              <button id="btnbuscar" class="btn-custom-info" fdprocessedid="hf63qc">
                                  <i class="fa-solid fa-magnifying-glass fa-2x"></i>
                              </button>
                          </div>
                          <div class="button-grouper tooltip">
                              <span class="tooltip-box">Guardar usuarios</span>
                              <button id="btnGuardar" tabindex="12" title="Guardar" class="btn-custom-success" fdprocessedid="swxsyj">
                                  <i class="fa-regular fa-floppy-disk fa-2x"></i>
                              </button>
                          </div>                       
                          <div class="button-grouper tooltip">
                              <span class="tooltip-box">Actualizar</span>
                              <button id="btnActualizar" class="btn-custom-secondary" fdprocessedid="y1dcgd">
                                  <i class="fa-solid fa-rotate-right"></i>
                                      <!-- <span></span> -->
                              </button>                 
                          </div>
                      </div>
                  </section>
                    <!-- Seccion de los botones -->
                </div>
            </div>
        </section>

        <!-- Modal de los Usuarios -->
   <div class="modal-container" id="modalContainer">
    <div class="modal-content">

      <div class="head-modal">
        <div class="info-modal-content">
          <h1><i class="fa-solid fa-cookie-bite"></i> &nbsp Usuarios creados</h1>
        </div>
        <div class="close-modal">
          <i id="closeModalAction" class="fa-regular fa-circle-xmark fa-3x"></i>
        </div>
      </div>
<div></div>

      <hr class="custom-hr">
      <div class="body-modal" id="">
        <div class="body-content" id="contentForm">

        <!-- thead tr td -->
        <div class="content-table-usuarios">
          <div class="table-content" id="tableusuarios">
               <div class="table-cabezera">
                   <div class="tr-head" id="tr-head">
                       <div class="td-head">Nombre</div>
                       <div class="td-head">Apellido</div>
                       <div class="td-head">Cedula</div>
                       <div class="td-head">Email</div>
                       <div class="td-head">Usuario</div>
                       <div class="td-head">Codigo usuario </div>
                       <div class="td-head">Tipo de Usuario</div>
                       <div class="td-head">Contraseña</div>
                       <div class="td-head">Estatus </div>
                       <div class="td-head">Direccion </div>
                       
                       
                    </div>
               </div>
                   <!-- tbody tr td -->
                   <div class="table-cuerpo pb" id="tbodyUser">
                   </div>
       </div>
     </div>
<!-- Alerta inferior Derecha -->
<div class="alert-banner" id="alertBannerContainer">
  <div class="content-icon">
    <i id="icon-alert" class="fa-solid fa-circle-check "></i>
  </div>
  <div class="content-text">
    <p id="alert-text" class=""></p>
  </div>
  <div class="content-exit" id="alert-exit-button">
    <p class="">
      <i class="fa-solid fa-xmark"></i>
    </p>
  </div>
</div>

    </div>
  </div>

  

  <script src="/app/js/creacion-usuario.js"></script>
</body>
</html>