@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@100;200;300;400;500;600;700;800&display=swap');

:root {
  --maxWidth: 1600px;
  --bgHeader: rgb(241, 240, 240);
  --bgContainer: #fff;
  --font-link-color: #fff;
  --bgBodyColor: rgb(238, 234, 234);
  --tableHeadBgColor: #f3f3f3;
  --bottomBarColor: #f3f3f3;
  --inputBackGround: #fbf8f0;
  --tableBorder: #ccc;
  --subText: #a1a1a1;
  --border-inputs: #bababa;
  --span-color: #a0a0a0;
  --heading1Color: #727272;
  --normalTextColor: #484848;
  --scrollBarColor: #4f92b8;
  --primaryColor: #4f92b8;
  --hoverNavColor: #4f92b8;
  --background-sidedbar:#4f92b8;
  --green-zaglul: #4f92b8;

  /* buttons */
  --main-bgr-button: #d7d7d7;

  --secondary-bkg-button: #b4b4b4;
  --danger-bkg-button: #cf2f29;
  --primary-bkg-button: #2993cf;
  --info-bkg-button: #7cc5ef;
  --success-bkg-button: #4f92b8;
  --warning-bkg-button: #b7b33a;

  --danger-bkg-button-active: #96110c;
  --primary-bkg-button-active: #0a6da7;
  --info-bkg-button-active: #206e9b;
  --secondary-bkg-button-active: #939393;
  --success-bkg-button-active: #4f92b8;
  --warning-bkg-button-active: #8e8a14;

  --warning-card: #ffdb9b;
  --warning-card-bold: #d38f12;
  --danger-card: #ffe0e3;
  --danger-card-bold: #ff4858;
  --success-card: #c3f3d7;
  --success-card-bold: #4f92b8;
  --info-card: #d7f0ff;
  --info-card-bold: #3fb6ff;
  --second-card: #d7f0ff;
  --second-card-bold: #a1a1a1;

  --btn-clr-button: white;
  --background-sdb: #c5ffc9;

  --secondaryColorBlur: #ebab6b;
  --titlePrimaryColor: #4f92b8;

  --max-width-filter: 1400px;
  --primaryColor-filter:#4f92b8;
  --secondaryColor-filter: #fe8340;
  --disabledColor-filter: #ccc;
}

body,
html {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100%;
}

body {
  background: #c3c3c3;
}

* {
  box-sizing: border-box;
  font-family: 'Inter Tight', sans-serif;
  color: var(--normalTextColor);
  scroll-behavior: smooth;
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--scrollBarColor);
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
hr {
  margin: 0;
}

hr.custom-hr {
  border-top: solid 1px #dadada;
  height: 1px;
  width: 100%;
}

.mt-10 {
  margin-top: 10px !important;
}

/* HEADER */

.form-container .photo-container {
  display: flex;
  justify-content: center;
  height: 150px;
  width: 100%;
}

.form-container .photo-container .img-user {
  position: relative;
  top: -5px;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  cursor: pointer;
}

.form-container .photo-container .img-user img {
  position: absolute;
  width: 100%;
  border-radius: 50%;
  overflow: hidden;
  height: 100%;
  object-fit: cover;
}

.form-container .photo-container .img-user input {
  display: none;
}

.form-container .photo-container .img-user label {
  position: relative;
  cursor: pointer;
  top: 155px;
  text-align: center;
}

/* HEADER */

body div.container {
  width: 100%;
  display: flex;
}

.container-custom {
  display: flex;
  width: 100%;
  height: auto;
  max-width: var(--maxWidth);
  margin: 0 auto;
  min-height: 100vh;
  background-color: var(--bgContainer);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
  overflow-x: hidden;
  overflow-y: clip;
}

/* Sidebar */
.sidebarContainer {
  width: 20%;
  min-width: 270px;
}

.sidebar {
  height: 100%;
  width: 100%;
  /* transition: 0.5s; */
  background-color: var(--background-sidedbar);
  box-shadow: 0 0 2px;
  display: flex;
  justify-content: center;
}

.sideBarHeader {
  position: fixed;
  
}

.sidebar .logoSideBar {
  text-align: center;
  margin-top: 25px;
}

.sidebar .logoSideBar img {
  width: 200px;
}

.sidebar .text-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar.close .text-logo {
  opacity: 0;
}

.sidebar .text-logo .header-text span.name {
  font-weight: 600;
}

/* .burger{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
} */

.sidebar .toggle {
  position: absolute;
  top: 5%;
  right: -45px;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
}

.menu-bar {
  margin-top: 20px;
  border-top: 2px solid var(--green-zaglul);
}

.list-menu {
  list-style: none;
  padding: 0;
}

.list-menu li {
  height: 60px;
  border-top: 1px solid var(--green-zaglul);
  border-bottom: 1px solid var(--green-zaglul);
  margin-bottom: 15px;
}

.list-menu li i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  min-width: 60px;
}

.list-menu li a {
  text-decoration: none;
  display: flex;
  align-items: center;
  height: 100%;
  transition: 0.4s;
  width: 100%;
  border-radius: 5px;
}

.list-menu li i,
.list-menu li a {
  color: var(--font-link-color);
  font-weight: 700;
}

.list-menu li>a {
  color: var(--font-link-color);
  font-weight: 400;
}

.list-menu li a:hover,
.list-menu li :hover {
  background-color: var(--green-zaglul);
  color: var(--font-link-color);
}

.list-menu li a:hover i,
.list-menu li a:hover a {
  transition: 0.4s;
  color: var(--font-link-color);
}

/* Sidebar */

/* GLOBAL FEATURES */



/* Modal Section */

body div.modal-container {
  background-color: rgba(144, 148, 150, 0.6);
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  opacity: 0;
  pointer-events: none;
  transition: 0.2s;
}



/* MODAL */

/* GLOBAL FEATURES */

/* CREACION DE USUARIOS CSS */

/* Middle Section */

section.section-form {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  width: 100%;
  position: relative;
  min-width: 800px;
}

section.section-form .header-menu-container {
  position: absolute;
  top: 87px;
  right: 4%;
  background-color: white;
  z-index: 1;
  height: 70px;
  border-radius: 4px;
  padding: 9px;
  width: 21%;
  display: flex;
  flex-direction: column;
  align-items: center;
  visibility: hidden;
  padding-left: 11px;
  height: auto;
  box-shadow: 0px 0px 3px rgb(0 0 1);
}

section.section-form .header-menu-container .content-opcion {
  display: flex;
  width: 100%;
  height: 36px;
  align-items: center;
  padding: 10px
}

.initial-element {
  visibility: visible !important;
}


.initial-element-menu {
  display: initial !important;
}

section.section-form .header-menu-container div {
  cursor: pointer;
  font-weight: 600;
}

section.section-form .header-menu-container .content-opcion:hover {
  background-color: var(--bgHeader);
  border-radius: 4px;
  transition: 0.2s;
}

section.section-form .header-menu-container i {
  margin-right: 8px;
}

.section-form .form-container {
  position: relative;
  width: 100%;
  height: auto;
  /* margin-top: 100px; */
}

.section-form .header-container-top {
  display: flex;
  align-items: center;
  gap: 40px;
  position: absolute;
  right: 25px;
  top: 20px;
}

.section-form .header-container-top .inpust-group {
  display: flex;
  gap: 40px;
  width: 60%;
}

.section-form .header-container-top .inpust-group .sucursl-container {
  width: 100%;
}

.section-form .header-container-top .inpust-group .input-group .input input {
  width: 150px;
  height: 30px;
  margin-top: 2px;
  padding: 8px;
}

input[type=date] {
  text-align: center;
}

.section-form .header-container-top .inpust-group .input-group .input .input-sucursal {
  width: 100%;
}

.section-form .header-container-top .user-header img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}

.section-form .header-container-top .user-header {
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
  padding: 5px 9px 13px 5px;
  border-radius: 4px;
}

.section-form .header-container-top .user-header:hover {
  background-color: var(--bottomBarColor);
}

.user-info-content {
  width: 150px;
  height: 55px;
  line-height: 26px;
  text-align: center;
}

.form-container .header-container {
  height: 70px;
  width: 100%;
}

.form-container .form-header {
  position: relative;
  top: 10px;
  left: 45px;
}

.section-content {
  display: flex;
}

.section-container {
  width: 90%;
  min-height: 80vh;
  padding: 20px;
}

.form-container .form-header h1 {
  display: flex;
  justify-content: start;
  font-size: 28px;
  align-items: center;
  height: 50px;
  color: var(--titlePrimaryColor);
}

.form-container .form-header h1 i {
  position: relative;
  top: 10px;
  color: var(--secondaryColorBlur);
}

.form-container .form-header span {
  position: relative;
  left: 48px;
  bottom: 10px;
  color: var(--span-color);
  font-size: 18px;
}

.form-container .inputs-container {
  position: relative;
  margin-top: 25px;
  display: grid;
  justify-content: center;
  grid-template-columns: 33% 33% 33%;
}

.inputs-container .form-inputs {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px 20px;
}

.inputs-container .form-inputs label {
  font-weight: 300;
  margin: 0 0 4px 0;
  font-size: 18px;
}

.inputs-container .form-inputs input {
  font-size: 18px;
  padding-left: 15px;
  border-radius: 0 4px 4px 0;
  font-weight: 300;
  border: solid 1px var(--border-inputs);
  height: 35px;
}

.eye-content {
  position: relative;
}

.eye-content i {
  position: absolute;
  right: 30px;
  top: 43px;
  cursor: pointer;
  color: #bababa;
}

.inputs-container .form-inputs select {
  font-size: 18px;
  padding-left: 15px;
  border-radius: 5px;
  font-weight: 300;
  border: solid 1px var(--border-inputs);
  height: 35px;
}
